body {
    border-top: 4px solid #76c38f;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
}
header {
    background-color: #290000;
}
.container {
    max-width: 960px;
}
.myBrand {
    font-size: 28px;
    color: white !important;
    line-height: 1;

    & p {
        line-height: 1;
        font-size: 11px;
        color: #979797;
    }
}
.my_navbat_icon {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.my_link {
    font-size: 13px;
    margin: 15px;
    color: white !important;
    line-height: 1.23;
    &:hover {
        background-color: #76c38f;
        border-radius: 10px;
    }
}

.container_carousel {
    width: 100%;
    background-color: #290000;
    .carousel {
        max-width: 1080px;
        margin: 0 auto;
        padding: 40px 0;

        .slide1 {
            .container_slide {
                width: 80%;
                margin: 0 auto;
                display: flex;
                padding: 0 10px;
                align-items: center;
                justify-content: space-between;
                .textBlock {
                    width: 50%;
                    color: white;
                    & h2 {
                        font-size: 46px;
                        line-height: 1;
                    }
                    & p {
                        font-size: 12px;
                        line-height: 1.58;
                        color: #979797;
                    }
                }
                .image {
                    width: 50%;
                    height: auto;
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.container__bg {
    width: 100%;
    background-color: #660000;
    padding: 60px 10px;
    .container__bg__content {
        max-width: 940px;
        margin: 0 auto;
        .container__bg__content__flexBox {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            & div {
                width: 225px;
                height: 308px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: white;
                padding: 0 33px;
                & div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    height: 120px;
                    background-color: #333333;
                    color: white;
                }
                & h3 {
                    font-size: 32px;
                    line-height: 1;
                    text-align: center;
                    color: #333333;
                }
                & p {
                    font-size: 12px;
                    text-align: center;
                    line-height: 1.42;
                    color: #979797;
                }
                &:hover {
                    background-color: #76c38f;

                    & div {
                        background-color: white;
                        color: black;
                    }
                    & h3 {
                        color: white;
                    }
                    & p {
                        color: white;
                    }
                }
            }
        }
    }
}
.latest__title {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    width: 256px;
    height: 48px;
    padding: 4px;
    border-radius: 7px;
    background-color: #303030;
    margin-bottom: 60px;
   
}

.flexBox__card {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    & > div {
        width: 290px;
        height: 190px;
        border: 5px solid white;
        background-color: #353535;
        margin: 10px 10px;
        padding: 75px 0 0 0;

        & p {
            text-align: center;
            color: white;
            padding: 0 0 41px 0;
        }
        & div {
            text-align: center;
            color: white;
            background-color: black;
        }
        &:hover {
            border: 5px solid #76c38f;
            & div {
                opacity: 0;
            }
        }
    }
}
.footerBox {
    width: 100%;
    background-color: #303030;
    padding: 60px 15px 0 15px;

    .footerBox__container {
        max-width: 960px;
        margin: 0 auto;
        .footerBox__container__content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .footerBox__container__content__card1 {
                width: 225px;
                .footerBox__container__content__card1__child1 {
                    font-size: 16px;
                    line-height: 1.19;
                    color: #ffffff;
                    margin: 0 0 33px 0;
                }
                .footerBox__container__content__card1__child2 {
                    font-size: 13px;
                    line-height: 1.23;
                    color: #76c38f;
                }
                .footerBox__container__content__card1__child3 {
                    font-size: 10px;
                    line-height: 1.2;
                    color: #666666;
                    & span {
                        color: #76c38e;
                    }
                }
                .footerBox__container__content__card1__child4 {
                    font-size: 10px;
                    line-height: 1.2;
                    color: #979797;
                }
                .footerBox__container__content__card1__child5 {
                    font-size: 13px;
                    line-height: 1.62;
                    color: #979797;
                }
                .footerBox__container__content__card1__child6 {
                    font-size: 13px;
                    line-height: 1.23;
                    color: #76c38f;
                }
            }
            .footerBox__container__content__card2 {
                width: 225px;
                .footerBox__container__content__card2__child1 {
                    font-size: 16px;
                    line-height: 1.19;
                    color: #ffffff;
                    margin: 0 0 33px 0;
                }
                .footerBox__container__content__card2__child2 {
                    font-size: 13px;
                    display: block;
                    border-bottom: 1px solid #404040;
                    padding: 5px;
                    line-height: 1;
                    color: #76c38f;
                }
            }
            .footerBox__container__content__card3 {
                width: 225px;
                .footerBox__container__content__card3__child1 {
                    font-size: 16px;
                    line-height: 1.19;
                    color: #ffffff;
                    margin: 0 0 33px 0;
                }
                .footerBox__container__content__card3__child2 {
                    font-size: 13px;
                    line-height: 1.62;
                    color: #979797;
                    & span {
                        color: #76c38e;
                    }
                }
            }
            .footerBox__container__content__card4 {
                width: 225px;
                .footerBox__container__content__card4__child1 {
                    font-size: 16px;
                    line-height: 1.19;
                    color: #ffffff;
                    margin: 0 0 33px 0;
                }
                .footerBox__container__content__card4__child2 {
                    & input {
                        width: 100%;
                        height: 35px;
                        display: block;
                        background-color: #222222;
                        margin-bottom: 10px;
                        border: none;
                        border-radius: 8px;
                        padding: 0 0 0 10px;

                        &::placeholder {
                            font-size: 13px;
                            line-height: 1.23;
                            color: #989898;
                        }
                        &:last-child {
                            width: 75px;
                            height: 35px;
                            background-color: #76c38f;
                            padding: 0;
                        }
                    }
                    & textarea {
                        display: block;
                        height: 80px;
                        width: 100%;
                        margin-bottom: 10px;
                        border: none;
                        border-radius: 8px;
                        padding: 0 0 0 10px;
                        background-color: #222222;
                        resize: none;
                    }
                }
            }
        }
    }
    .footerBox__container__bottomBox {
        width: 100%;
        border-top: 3px solid black;
        background-color: #2b2b2b;
        margin: 50px 0 0 0;

        .footerBox__container__bottomBox__content {
            max-width: 960px;
            margin: 0 auto;
            height: 60px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            & div {
                font-size: 13px;
                line-height: 1;
                color: #979797;
            }
        }
    }
}

@media (max-width: 950px) {
    .container__bg__content__flexBox {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 130px;
        & > div {
            &:first-child {
                margin: 0 0 30px 0;
            }
            &:nth-child(2) {
                margin: 0 0 30px 0;
            }
        }
    }
    .flexBox__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .footerBox__container__content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 125px;
        .footerBox__container__content__card1 {
            margin: 0 0 30px 0;
        }
        .footerBox__container__content__card2 {
            margin: 0 0 30px 0;
        }
    }
}
@media (max-width: 734px) {
    .container_slide {
        width: 80%;
        margin: 0 auto;
        display: flex;
        padding: 0 10px;
        flex-direction: column;

        .textBlock {
            width: 100%;
            color: white;
            & h2 {
                font-size: 20px !important;
                text-align: center;
            }
            & p {
                font-size: 9px !important;
                text-align: center;
            }
        }
        .image {
            width: 100%;
        }
    }
    .container__bg__content__flexBox {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 30px 0 30px;
        & > div {
            &:first-child {
                margin: 0 0 30px 0;
            }
            &:nth-child(2) {
                margin: 0 0 30px 0;
            }
            &:nth-child(3) {
                margin: 0 0 30px 0;
            }
            &:nth-child(4) {
                margin: 0 0 30px 0;
            }
        }
    }
    .flexBox__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerBox__container__content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 50px 40px 0 40px;
        .footerBox__container__content__card1 {
            margin: 0 0 30px 0;
        }
        .footerBox__container__content__card2 {
            margin: 0 0 30px 0;
        }
        .footerBox__container__content__card3 {
            margin: 0 0 30px 0;
        }
        .footerBox__container__content__card4 {
            margin: 0 0 30px 0;
        }
    }
}
@media (max-width: 560px) {
    .container__bg__content__flexBox {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0 30px 0 30px;
    }
    .footerBox__container__content {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0 30px 0 30px;
    }
    .footerBox__container__bottomBox__content {
        display: flex;
        height: 80px;
        flex-direction: column;
        padding: 10px 0;
        justify-content: space-around;
        align-items: center;
        & div {
            font-size: 13px;
            line-height: 1;
            color: #979797;
        }
    }
}
